.NotBuyable {
    -fx-text-fill: red;
}
.TooMuch {
    -fx-text-fill: darkviolet ;
}
.Bought {
    -fx-text-fill: green;
}
#infoPan {
	-fx-background-color: rgba(255,255,255,0.6); 
	-fx-background-radius: 0 13 13 0 ; 
	-fx-border-radius: 0 12 12 0; 
	-fx-border-width:3; 
	-fx-border-color: rgba(150,150,150,0.6);
}
#statutAnchor {
	-fx-background-color: rgba(255,255,255,1); 
	-fx-border-width:1; 
	-fx-border-color: rgba(150,150,150,0.6);
}