.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(200, 100, 200);
    -fx-background: rgb(200, 100, 200);
}
.NotBuyable {
    -fx-text-fill: red;
}
.TooMuch {
    -fx-text-fill: darkviolet ;
}
.Bought {
    -fx-text-fill: green;
}